# TWP-Gen runtime dependencies
openai
tavily-python
trafilatura
requests
langchain-text-splitters
numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
networkx
tqdm
tenacity
torch
torch-geometric
dgl
sentence-transformers
transformers
jieba
nltk
spacy
amrlib
pdfplumber
rbo
transaction

langchain
langchain-core
langgraph
toml
json-repair
markdown
beautifulsoup4
